%div#home
  #content
    %h2.text-center.text-bold.small-caps
      ¡Welcome to da Party!
    %p.text-justify 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a risus eu dui convallis pellentesque. Quisque blandit tortor ante, bibendum ultricies lorem semper ac. Nulla aliquam vehicula lectus. Donec pharetra odio in magna vehicula ultricies. Praesent ut tincidunt mi. Donec ut facilisis lacus. Morbi ullamcorper tincidunt orci. Proin vel ligula ut quam bibendum ultrices at non dolor. Duis egestas blandit nunc, vel molestie neque placerat vel. Nam eget venenatis tortor. 
    %p.text-right David A. López
    %p.link-blue.text-center.small-caps= link_to '-admin panel-', users_show_path
