.container-fluid.relative#header
  #logo
    =link_to(image_tag('logo.png'), root_path)
  #menu.link-blue
    %a{href: '/articles/2'} 
      [especialistas en el mantenimiento preventivo 
      %br
      y correctivo de sus electrodomésticos..]
  #contact
    %p#phone.text-bold
      %span.glyphicon.glyphicon-earphone.middle 
      %span.hours 24/7
      %span.num.text-bold.middle (+57) 314 714 56 47