// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

* {
  font-family: 'Noto Sans', sans-serif;
}

body, html {
  height: 100%!important;
  width: 100%!important;
  overflow-x: hidden;
  /* overflow: hidden; */
}

#header {
  background-color: white;
  #logo {
    position: absolute;
    margin: 7px 0 7px 0;
    min-width: 281px; 
    max-width: 281px; 
    left: 25px;
  }
  
  #menu {
    text-align: center;
    a {
      display: block;
      font-variant: small-caps;
      text-align: center;
      font-size: 20px;
      padding: 15px 20px;
      margin-bottom: 0px;
      margin-left: -35px;
    }
  }  
  
  #contact {
    position: absolute;
    margin-top: 10px;
    min-width: 295px;
    max-width: 295px;
    right: 25px;
    top: 0px;
    #phone {
      position: relative;
      font-size: 12px;
      color: #00c9fb;
      margin: 10px;
      min-width: 298px;
      max-width: 298px;
      .glyphicon {
        font-size: 30px;
      }
      .hours {
        position: absolute;
        top: 0px;
        left: 18px;
      } 
      .num {
        margin: 0px 0 0 20px;
        font-size: 25px;
        color: black;
      } 
    }
  }  
}

#home {
  background-image: url(background3.png);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  #content {
    padding: 3em 5em;
    p.link-blue.text-center.small-caps {
      padding-top: 2em;
    }
    span {
      a {
        display: block;
      }
      font-size: 1.3em;
      margin-bottom: 2em;
    }
    .pagination {
      color: #262626;
      font-size: 0.9em;
      font-variant: small-caps;
      display: block;
      margin: 0 auto;
      text-align: center;
      a {
        font-style: normal;
        color: #00a7ff;
      }
      em {
        font-style: normal;
      }
    }
  }
  #contactform {
    background-color: rgba(0, 201, 251, 0.95);
    height: 100%;
    .text-bold:nth-child(1) {
      padding-top: 1em;
      font-size: 2.3em;
    }
    input, 
    textarea {
      margin-bottom: 1em;
      -webkit-appearance: none;
      font-size: 18px;
      padding: 6px 18px;
      line-height: 34px;
      color: #000;
      background: #fff;
      border: 2px solid #00a7ff;
      border-radius: 2px;
      width: 100%;
      background-color: white; 
      &:focus {
        outline: none;
      }
    }
    #new_contact > div.actions > input {
      width: 100%;
      padding-top: 0.1em;
      padding-bottom: 0.3em;
      font-size: 2em;
      background-color: #176f9d;
      color: white;
      border: none;
    }
    textarea {
      height: 20%;
    }
  }
}

#footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.center {
  margin: 0 auto!important;
}

.inline-block {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

@media (max-width: 991px) {
  #header {
    #logo {
      position: static;
      margin: 0 auto;
    }
    #menu {
      position: static;
      text-align: center;
      a {
        margin: 0 3em;
        text-align: center;
      }
    }  
    #contact {
      position: static;
      margin: 0 auto;
    }  
  }
  #home {
    background-position: center center;
    height: 100%;
    #content {
      font-size: 0.9em;
      margin: 0 auto;
      width: 90%; 
      padding: 1em 2em; 
    }
  }
  #new_contact > h2 {
    padding-top: 1em;
  }
}


.text-white {
  color: white;
}

.small-caps {
  font-variant: small-caps;
}

.text-justify {
  text-align: justify;
}

.link-blue{
  a {
    color: #383838;
    &:link {
      color: black;
    }
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}