@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

body {
  background-color: #f7f7f7;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: #3da6f2;
}

.text-center {
  text-align: center;
  display: block;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.button-opt {
  padding: 10px;
}
