%header.navdown.text-center
  .col-md-2.menu
    =link_to 'Home', '#home'
  .col-md-2.menu
    =link_to 'Noticias', '#noticias'
  .col-md-4
    =image_tag ('logo.png')
  .col-md-2.menu
    =link_to 'Servicios', '#servicios'
  .col-md-2.menu
    =link_to 'Contáctenos', '#contactenos'