<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% if current_user.is_admin? %>
      <li><%= link_to "Clientes", user_list_path %></li>
      <li><%= link_to "Electrodomésticos", appliances_path %></li>
      <li><%= link_to "Servicios" %></li>
      <li><%= link_to "Reportes" %></li>
    <% end %>
  </ul>
</div>
